{% extends "base.html" %}
{% load static i18n crispy_forms_tags %}

{% block title %}{% if object.pk %}Verkooppartij bewerken{% else %}Verkooppartij toevoegen{% endif %}{% endblock %}

{% block content %}
    <h2>{% if object.pk %}Verkooppartij bewerken{% else %}Verkooppartij toevoegen{% endif %}</h2>

    <form class="form-horizontal"
          {% if object.pk %} action="{% url 'seller_edit' object.pk %}"{% else %} action="{% url 'seller_add' %}"{% endif %}
          method="post">
        {% crispy form form.helper %}

        <input type="submit" value="Opslaan" class="btn btn-primary pull-right" />
        <br/>
        <br/>
        <br/>

    </form>
{% endblock %}